<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ciclos</title>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
  <div id="vm">
    <ul>
      <li v-for="pais in paises">
        {{pais}}
      </li>
      <li v-for="pais in paises2">
        {{pais.nombre}}
      </li>
      <template v-for="(pais, index) in paises2">
      <li > <!-- Se puede usar of o in -->
        {{pais.nombre}} with index {{index}}
      </li>
      <hr>
      </template>

      <hr>
      <hr>
      <hr>
      <li v-for="value in empleado">
        {{value}}
      </li>
      <hr>
      <li v-for="(value, llave) in empleado">
        {{llave}} -> {{value}}
      </li>
    </ul>
  </div>
  <script src="vue.js"></script>
</body>
</html>